.btn {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 10px;
  min-width: 100px;
  font-size: 24px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
}
.btn-about {
  background-color: red;
  color: white;
}
.btn-entry {
  background-color: green;
  color: white;
}