.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  min-width: 100px;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-entry {
  text-transform: uppercase;
  background-color: green;
  color: white;
}
.btn-entry:hover {
  background-color: darkgreen;
}