.welcome-page-jumbotron {
  position: relative;
  top: 20vh;
  text-align: center;
}
.welcome-page-title,
.welcome-page-subtitle {
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.welcome-page-title {
  font-size: 48px;
  margin-bottom: 5px;
}
.welcome-page-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}
.github-link {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 2%;
  right: 2%;
  transition: all .2s ease-in-out;
}
.github-link:hover {
  transform: scale(1.05);
}

@media (max-width: 650px) {
  .welcome-page-title {
    font-size: 28px;
  }
  .welcome-page-subtitle {
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .welcome-page-title {
    font-size: 56px;
  }
  .welcome-page-subtitle {
    font-size: 22px;
  }
}