.welcome-page-jumbotron {
  position: relative;
  top: 20vh;
  text-align: center;
}
.welcome-page-title {
  font-size: 48px;
}
.github-link {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 2%;
  right: 2%;
}

@media (max-width: 700px) {
  .welcome-page-title {
    font-size: 30px;
  }
}