.welcome-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
}
.logo {
  width: 80px;
  height: 80px;
}
.welcome-menu {
  list-style: none;
  font-size: 18px;
  margin: 0;
}
.welcome-link {
  margin-left: 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: all .1s ease-in-out;
}
.welcome-link:hover:not(.welcome-sign-up) {
  color: red;
}
.welcome-sign-up {
  background-color: red;
}
.welcome-sign-up:hover {
  background-color: #ca171e;
}

@media (max-width: 500px) {
  .welcome-link:not(.welcome-sign-up):not(.welcome-login) {
    display: none;
  }
}